In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [30]:
import requests

# API de saúde mental
mental_health_url = "https://ghoapi.azureedge.net/api/MH_12"
mental_health_response = requests.get(mental_health_url)
mental_health_data = mental_health_response.json()['value']
df_mental_health = pd.DataFrame(mental_health_data)

# API de índices econômicos
econ_url = "https://api.worldbank.org/v2/country/all/indicator/NY.GDP.MKTP.CD;NY.GDP.PCAP.CD;SL.UEM.TOTL.ZS;FP.CPI.TOTL.ZG;SP.POP.TOTL?date=2013:2023&format=json&per_page=20000&source=2"
econ_response = requests.get(econ_url)
econ_data = econ_response.json()[1]
df_econ = pd.DataFrame(econ_data)

In [31]:
df_econ.head()

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal,scale
0,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2023,1.245472e+12,,,0,NaN
1,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2022,1.191423e+12,,,0,NaN
2,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2021,1.085745e+12,,,0,NaN
3,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2020,9.333918e+11,,,0,NaN
4,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2019,1.009721e+12,,,0,NaN

In [33]:
# Normalizando os campos aninhados
df_econ_flat = pd.json_normalize(df_econ.to_dict(orient='records'))

# Selecionando apenas os campos desejados
df_econ_final = df_econ_flat[['country.value', 'indicator.id', 'indicator.value', 'date', 'value']]

# Renomeando para facilitar
df_econ_final = df_econ_final.rename(columns={
    'country.value': 'pais',
    'indicator.id': 'indicador_id',
    'indicator.value': 'indicador_nome',
    'date': 'ano',
    'value': 'valor'
})

df_econ_final.head()

,pais,indicador_id,indicador_nome,ano,valor
0,Africa Eastern and Southern,NY.GDP.MKTP.CD,GDP (current US$),2023,1.245472e+12
1,Africa Eastern and Southern,NY.GDP.MKTP.CD,GDP (current US$),2022,1.191423e+12
2,Africa Eastern and Southern,NY.GDP.MKTP.CD,GDP (current US$),2021,1.085745e+12
3,Africa Eastern and Southern,NY.GDP.MKTP.CD,GDP (current US$),2020,9.333918e+11
4,Africa Eastern and Southern,NY.GDP.MKTP.CD,GDP (current US$),2019,1.009721e+12

In [34]:
df_econ_final['pais'].unique()

array(['Africa Eastern and Southern', 'Africa Western and Central',
       'Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'Not classified', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia, The',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hong Kong SAR, China', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkiye', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Viet Nam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [ ]:
# Atualiza variável df_econ com o DataFrame final
df_econ = df_econ_final

In [35]:
df_mental_health.head()

,Id,IndicatorCode,SpatialDimType,SpatialDim,TimeDimType,ParentLocationCode,ParentLocation,Dim1Type,TimeDim,Dim1,...,DataSourceDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
0,7279032,MH_12,COUNTRY,DOM,YEAR,AMR,Americas,SEX,2009,SEX_FMLE,...,None,1.7 [1.0-2.5],1.68139,1.04213,2.51845,None,2025-01-28T14:13:24.673+01:00,2009,2009-01-01T00:00:00+01:00,2009-12-31T00:00:00+01:00
1,1030,MH_12,COUNTRY,LTU,YEAR,EUR,Europe,SEX,2012,SEX_MLE,...,None,52.3 [48.9-58.9],52.25454,48.90451,58.91480,None,2025-01-28T14:13:24.673+01:00,2012,2012-01-01T00:00:00+01:00,2012-12-31T00:00:00+01:00
2,1259,MH_12,COUNTRY,JOR,YEAR,EMR,Eastern Mediterranean,SEX,2010,SEX_MLE,...,None,1.7 [1.1-2.1],1.67024,1.12197,2.12482,None,2025-01-28T14:13:24.673+01:00,2010,2010-01-01T00:00:00+01:00,2010-12-31T00:00:00+01:00
3,1437,MH_12,COUNTRY,SSD,YEAR,AFR,Africa,SEX,2020,SEX_FMLE,...,None,5.9 [3.4-9.4],5.91657,3.38785,9.35665,None,2025-01-28T14:13:24.673+01:00,2020,2020-01-01T00:00:00+01:00,2020-12-31T00:00:00+01:00
4,1654,MH_12,COUNTRY,SYR,YEAR,EMR,Eastern Mediterranean,SEX,2001,SEX_MLE,...,None,1.8 [1.3-2.4],1.80980,1.25524,2.41635,None,2025-01-28T14:13:24.673+01:00,2001,2001-01-01T00:00:00+01:00,2001-12-31T00:00:00+01:00

In [36]:
### Coluna - Descrição
# Id                        - Identificador único do registro
# IndicatorCode	            - Código do indicador (MH_12 = suicídio)
# SpatialDimType            - Tipo de dimensão espacial (ex: COUNTRY)
# SpatialDim                - Código do país (ex: BRA, USA, etc.)
# TimeDimType               - Tipo de dimensão temporal (ex: YEAR)
# ParentLocationCode        - Código da região (ex: AMR = Americas)
# ParentLocation            - Nome da região (ex: Americas, Europe, Africa)
# Dim1Type                  - Tipo da dimensão 1 (ex: SEX)
# TimeDim                   - Ano da observação
# Dim1                      - Valor da dimensão 1 (ex: SEX_MLE = masculino, SEX_FMLE = feminino)
# Value	                    - Valor do indicador (ex: "1.7 [1.0-2.5]")
# NumericValue              - Valor numérico central (ex: 1.68139)
# Low                       - Limite inferior do intervalo de confiança
# High                      - Limite superior do intervalo de confiança
# Comments                  - Comentários (geralmente None)
# Date                      - Data de atualização
# TimeDimensionValue        - Ano (igual ao TimeDim)
# TimeDimensionBegin        - Data de início do período
# TimeDimensionEnd          - Data de fim do período